header {
  background-color: darkslateblue;
  text-align: center;
  color: coral;
  font-family: 'Fugaz One', cursive;
  font-size: 40px;
  line-height: 1.5;
}

ul {
  list-style: none;
  text-align: center;
  text-decoration: none;
}

nav {
  background-color: aquamarine;
  color: red;
  font-family: 'Roboto Condensed', sans-serif;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
}

#main-paragraph {
  line-height: 1.5;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 110%;
}

#description {
  line-height: 1.5;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 110%;
}
