header {
  text-align: center;
  color: orange;
  font-family: sans-serif;
  font-size: 40px;
  line-height: 1.2;
}

nav {
  background-color: orange;
  color: red;
  font-family: monospace;
  line-height: 1.5;
  text-align: center
}
