header {
  background-color: inherit;
  text-align: center;
  color: orange;
  font-family: 'Fugaz One', cursive;
  font-size: 40px;
  line-height: 1.5;
}

ul {
  list-style: none;
  text-align: center;
}

nav {
  background-color: orange;
  color: red;
  font-family: 'Roboto Condensed', sans-serif;
  line-height: 1.5;
  text-align: center;
}

#main-paragraph {
  line-height: 1.5;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 110%;
}

#description {
  line-height: 1.5;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 110%;
}
